.shortImageContainer {
    background-image: url("../assets/placeholder-image.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center; 
   
    padding-top: 125px; 
    padding-bottom: 125px; 
}

.addressContainer {
  background-color: black;
  color: white; 
  padding: 35px; 
  margin-top: auto;
  font-size:18px; 
  line-height: 20px; 
}

.officeHoursContainer {
    background-color: #f0f0f0;
    padding: 50px; 
}
