.mainImageContainer {
    background-image: url("../assets/placeholder-image.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center; 
   
    padding-top: 250px; 
    padding-bottom: 250px; 
}