.mainImageContainer {
    background-image: url("../assets/placeholder-image.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center; 
   
    height: calc(100vh - 85px);
    max-height: 1000px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.meetingsContainer {
    padding-top:60px; 
    padding-bottom: 80px; 
    padding-left: 10%;
    padding-right: 10%; 
}

.meetingDetailsContainer {
    background-color: #f3f3f3;
    padding-top:40px; 
    padding-bottom: 40px; 
    padding-left: 10%;
    padding-right: 10%; 
}